@model List<PETHOTEL.Models.RoomViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_pet.cshtml";
}

<h2>Index</h2>

<div id="myCarousel1" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->

    <ol class="carousel-indicators">
        <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel1" data-slide-to="1"></li>
        <li data-target="#myCarousel1" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/img/1.jpg" style="width:100%; height: 200px" alt="First slide">
            <div class="carousel-caption">
                <h1><br>購物車系統~~~~ </h1>
            </div>
        </div>
        <div class="item">
            <img src="~/img/1.jpg" style="width:100%; height: 500px" alt="Second slide">
            <div class="carousel-caption">
                <h1>vacayhome<br> spa & Resort</h1>
            </div>
        </div>
        <div class="item">
            <img src="~/img/2.jpg" style="width:100%; height: 500px" alt="Third slide">
            <div class="carousel-caption">
                <h1>vacayhome<br> spa & Resort</h1>
            </div>
        </div>

    </div>
    <a class="left carousel-control" href="#myCarousel1" data-slide="prev"> <img src="images/icons/left-arrow.png" onmouseover="this.src = 'images/icons/left-arrow-hover.png'" onmouseout="this.src = 'images/icons/left-arrow.png'" alt="left"></a>
    <a class="right carousel-control" href="#myCarousel1" data-slide="next"><img src="images/icons/right-arrow.png" onmouseover="this.src = 'images/icons/right-arrow-hover.png'" onmouseout="this.src = 'images/icons/right-arrow.png'" alt="left"></a>

</div>
<div class="clearfix"></div>



<!--gallery block--->
<section class="gallery-block gallery-front">
    <div class="container">
        <div class="blog-list">
            <h4>房間上架</h4>

            <div class="row">

                @*<img src="~/img/shopcar.png" />*@
                @foreach (var room in Model)
                {
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="gallery-image">
                        <img class="img-responsive" src="@room.r_image_href" style="height: 200px; width: 200px;">
                        <div class="overlay">
                            <p><a href="@Url.Action("Index", "Booking")">我要訂房!<i class="fa fa-shopping-cart" aria-hidden="true"></i></a></p>
                        </div>
                    </div>
                    <p>房間編號： @room.r_id</p>
                    <p>房間名稱： @room.r_name</p>
                    <p>售價 : @room.r_price</p>
                    <p>房間資訊：@room.r_content</p>
                </div>
                }
            </div>
        </div>
    </div>
</section>