@model pethotel_manager.Entity.Order
@using System.Configuration;
@{
    /**/

    /**/

    ViewBag.Title = "Edit";
}

<h2>修改訂單資訊</h2>
@using (Html.BeginForm("Edit", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-1 col-form-label col-form-label-lg title">訂單ID</label>
        <div class="col-sm-9">
            <input type="text" id="o_id" name="o_id" class="form-control" placeholder="" value="@Model.o_id" />
        </div>
    </div>

    <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-1 col-form-label col-form-label-lg title">寵物性別</label>
        <div class="col-sm-9">
            <input type="text" id="o_pet_sex" name="o_pet_sex" class="form-control" placeholder="" value="@Model.o_pet_sex" />
        </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-1 col-form-label col-form-label-lg title">訂單狀態</label>
        <div class="col-sm-9">
            <input type="text" id="o_status" name="o_status" class="form-control" placeholder="" value="@Model.o_status" />
        </div>
    </div>

    <input type="submit" class="btn btn-default" value="確認" />

}

<div>
    @Html.ActionLink("回上頁", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
