
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
	<meta charset="utf-8" />
	<title>Table Style</title>


	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
	<link rel="stylesheet" href="~/css/樣式.CSS">
</head>
<body>
	<div class="table-title">
		<h3>現有房間列表</h3>
	</div>

	<table class="table-fill">
		<thead>
			<tr>
				<th class="text-left">房間編號</th>
				<th class="text-left">房間名稱</th>
				<th class="text-left">房間內容</th>
				<th class="text-left">房間售價</th>
				<th class="text-left">房間溫度</th>
				<th class="text-left">房間溼度</th>
				<th class="text-left">房間照片</th>
				<th class="text-left">管理者操作</th>
			</tr>

		</thead>

		<tbody class="table-hover">
			@foreach (var room in ViewBag.r)
			{
			<tr>
				<td class="text-left">@room.r_id</td>
				<td class="text-left">@room.r_name</td>
				<td class="text-left">@room.r_content</td>
				<td class="text-left">@room.r_price</td>
				<td class="text-left">@room.r_temperature</td>
				<td class="text-left">@room.r_wet</td>
				@*<td class="text-left">@room.r_image</td>*@
				<td class="text-left">
					<img class="img-responsive" src="~/FileUploads/@room.r_image" style="height:100px ; width:100px ;" />
				</td>
				
				<td>
					<a class="btn btn-warning " href="/Room/Edit/@room.r_id">修改</a>
					<a class="btn btn-danger " href="/Room/Delete/@room.r_id">刪除</a>
				</td>
			</tr>
			}

		</tbody>
	</table>
	<a class="btn btn-primary btnCreate" href="/Room/Create">房間上架</a>

</body>

</html>


