@model pethotel_manager.Models.ManagerViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>使用者登入</h2>
@*<font face="標楷體" align="center">使用者登入</font>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <form method="post" data-ajax="false" action="">
        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.m_account, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.m_account, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.m_account, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.m_password, htmlAttributes: new { @class = "control-label col-md-2 " })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.m_password, new { htmlAttributes = new { @class = "form-control", @name = "EmailId", required = "required" } })
                    @Html.ValidationMessageFor(model => model.m_password, "", new { @class = "text-danger", @name = "Password" })
                </div>
            </div>



            <div class="form-group">

                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="登入" class="btn btn-primary" />
                </div>

            </div>
        </div>

    </form>


}
