@model List<PETHOTEL.Models.ProductViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_pet.cshtml";
}


<div class="clearfix"></div>



<!--gallery block--->
<section class="gallery-block gallery-front">
    <div class="container">
        <div class="blog-list">
            <h4>上架商品</h4>

            <div class="row">

                @*<img src="~/img/shopcar.png" />*@
                @foreach (var product in Model)
                {

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">


                        <div class="product-desc-side">
                            <div class="gallery-image">
                                <img class="img-responsive" src="@product.p_image_href" style="height: 150px; width: 150px;">
                                <div class="overlay">
                                    <a class="info pop example-image-link img-responsive" href="@product.p_image_href" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>

                                  
                                </div>
                            </div>

                            <h3><a href="single-blog.html">@product.p_name</a></h3>
                            <p>@product.p_content</p>
                            <div class="links"><label>售價: @product.p_price </label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a onclick="AddToCart('@product.p_id') " href="javascript:void(0);">加入購物車</a></div>
                            </div>          
                        <br><br><br><br><br>
                  
                    </div>

                }
            </div>
        </div>
    </div>
</section>




