@model pethotel_manager.Models.InvoiceViewModel

@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm())
{
    <div class="form-horizontal">
    </div>

    <table class="table">
        <thead>
            <tr>
                <td>商品圖</td>
                <td>名稱</td>
                <td>類別</td>
                <td>總數</td>
                <td>總價</td>

            </tr>
        </thead>
        <tbody>
            @foreach (var pd in Model.InvoiceViewModelOutPutList) /* 使用foreach將所有商品列出 */
            {
            <tr>

              
                <td><img class="img-responsive" src="~/FileUploads/@pd.img" style="height: 50px; width: 50px;"></td>

                <td>@pd.name</td>
                <td>@pd.type_string</td>
                <td>@pd.count</td>
                <td>@pd.total</td>

            </tr>
            }

        </tbody>


    </table>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

