@model List<pethotel_manager.Models.InvoiceViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table table-hover">
    <h3>商品訂單列表</h3>
</div>

<table class="table">
    <tr class="success">
        <th>
            訂單編號
        </th>

        <th>
            顧客姓名
        </th>
        <th>
            顧客電話
        </th>
        <th>
            顧客地址
        </th>

        <th>
            商品總價
        </th>
        <th>
            商品細節
        </th>
        <th>
            付款狀態
        </th>
        <th>
            操作
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.i_id
            </td>

            <td>
                @item.cus.c_name
            </td>
            <td>
                @item.cus.c_phone
            </td>
            <td>
                @item.cus.c_address
            </td>
            <td>
                @item.invoice_total
            </td>
            <td>
                @Html.ActionLink("商品細節", "Edit", new { id = item.i_id }) 
            </td>
            <td>
                @item.i_status_string
            </td>
            <td>
                
                @Html.ActionLink("刪除", "Delete", new { id = item.i_id })
            </td>
        </tr>
    }

    
</table>



