﻿@model pethotel_manager.Entity.Product
@using System.Configuration;
@{
    ViewBag.Title = "修改商品";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>修改商品資訊</h2>


<!-- form區塊 -->
<!-- <div class="image">
    <img src="./pic/ticket.png" />
</div> -->
@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-1 col-form-label col-form-label-lg title">商品編號</label>
        <div class="col-sm-9">
            <input type="text" id="p_id" name="p_id" class="form-control" placeholder="" value="@Model.p_id" />
        </div>
    </div>

    <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-1 col-form-label col-form-label-lg title">商品類別</label>
        <div class="col-sm-9">
            @*<input type="text" id="p_type" name="p_type" class="form-control" placeholder="" value="@Model.p_type" />*@


            @switch (Model.p_type)
            {
                case 0:

                    <select class="form-control" id="selector" name="p_type">
                        <option selected="selected" value="0">零食</option>
                        <option value="1">罐頭</option>
                        <option value="2">玩具</option>
                        <option value="3">清潔用品</option>
                        <option value="4">貓砂</option>
                    </select>
                    break;


                case 1:

                    <select class="form-control" id="selector" name="p_type">
                        <option value="0">零食</option>
                        <option selected="selected" value="1">罐頭</option>
                        <option value="2">玩具</option>
                        <option value="3">清潔用品</option>
                        <option value="4">貓砂</option>
                    </select>
                    break;


                case 2:
                    <select class="form-control" id="selector" name="p_type">
                        <option value="0">零食</option>
                        <option value="1">罐頭</option>
                        <option selected="selected" value="2">玩具</option>
                        <option value="3">清潔用品</option>
                        <option value="4">貓砂</option>
                    </select>
                    break;
                case 3:
                    <select class="form-control" id="selector" name="p_type">
                        <option value="0">零食</option>
                        <option value="1">罐頭</option>
                        <option value="2">玩具</option>
                        <option selected="selected" value="3">清潔用品</option>
                        <option value="4">貓砂</option>
                    </select>
                    break;
                case 4:
                    <select class="form-control" id="selector" name="p_type">
                        <option value="0">零食</option>
                        <option value="1">罐頭</option>
                        <option value="2">玩具</option>
                        <option value="3">清潔用品</option>
                        <option selected="selected" value="4">貓砂</option>
                    </select>
                    break;
            }
        </div>
    </div>

    <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-1 col-form-label col-form-label-lg title">商品名稱</label>
        <div class="col-sm-9">
            <input type="text" id="p_name" name="p_name" class="form-control" placeholder="" value="@Model.p_name" />
        </div>
    </div>

    <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-1 col-form-label col-form-label-lg title">商品內容</label>
        <div class="col-sm-9">
            <input type="text" id="p_content" name="p_content" class="form-control" placeholder="" value="@Model.p_content" />
        </div>
    </div>

    <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-1 col-form-label col-form-label-lg title">商品售價</label>
        <div class="col-sm-9">
            <input type="text" id="p_price" name="p_price" class="form-control" placeholder="" value="@Model.p_price" />
        </div>
    </div>

    <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-1 col-form-label col-form-label-lg title">商品數量</label>
        <div class="col-sm-9">
            <input type="text" id="p_count" name="p_count" class="form-control" placeholder="" value="@Model.p_count" />
        </div>
    </div>

    <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-1 col-form-label col-form-label-lg title">商品照片</label>
        <div class="col-sm-9">
            <a href="@Path.Combine(ConfigurationManager.AppSettings["IMG_FOLDER_PATH"].ToString(), Model.p_image)" target="_blank">預覽</a>
            @*<input type="text" id="p_image" name="p_image" class="form-control" placeholder="" value="@Model.p_image" />*@
            <input type="file" name="productImg" />
        </div>
    </div>

    <!-- modal按鈕 -->
    <input type="submit" class="btn btn-default" value="確認" />
}

