@model List<pethotel_manager.Entity.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.p_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_image)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
