@model PETHOTEL.Models.BuyViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_pet.cshtml";
    var cart = PETHOTEL.Models.Cart.Operation.GetCurrentCart();
}

@using PETHOTEL.entity

<h2>結帳</h2>

@* 列出購物車內商品讓使用者作最後確認 *@
<table class="table" style="margin-top:200px">
    <thead>
        <tr>
            <td>商品圖</td>
            <td>名稱</td>
            <td>售價</td>
            <td>數量</td>
            <td>小計</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var pd in cart) /* 使用foreach將所有商品列出 */
        {
            <tr>

                <td><img class="img-responsive" src="http://localhost:14520/FileUploads/@pd.DefaultImageURL" width="100" height="100" /></td>
                <td>@pd.Name</td>

                <td>@pd.Price</td>
                <td>@pd.Quantity</td>
                <td>@pd.Amount</td>
            </tr>
        }

        <tr>
            

            <td colspan="3"></td>
            <td>總計</td>
            <td>@cart.TotalAmount</td>
        </tr>

    </tbody>
</table>


@* 讓使用者填入寄送資訊 *@
@using (Html.BeginForm("Checkout", "Buy", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">



    @if (((List<Order>)ViewBag.OrderList).Count == 0)
    {
        <select name="type">
            <option value="1">送貨到府</option>
            <option value="0">送至房間</option>
        </select>
    }




    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="確定購買" class="btn btn-default" />
        </div>
    </div>
</div>
}
