
@{
    ViewBag.Title = "Myorder";
    Layout = "~/Views/Shared/_Layout_pet.cshtml";
}

@model List<PETHOTEL.Models.InvoiceViewModel>
@using PETHOTEL.entity




@foreach (var item in Model)
{

    if (item.cus.c_id == ViewBag.u)
    {
        <table class="table">
        <tr class="success">
        <th>
            訂單編號
        </th>

        <th>
            顧客姓名
        </th>
        <th>
            顧客電話
        </th>
        <th>
            顧客地址
        </th>
        <th>
            商品總價
        </th>
        <th>
            商品細節
        </th>
    </tr>
    <tr>
        <td>
            @item.i_id
        </td>
        <td>
            @item.cus.c_name
        </td>
        <td>
            @item.cus.c_phone
        </td>
        <td>
            @item.cus.c_address
        </td>
        <td>
            @item.invoice_total
        </td>

        <td>
            @*<a data-hover="商品細節" href="/Myorder/Edit/@item.i_id" class="active"><span>商品細節</span></a>*@     
            @Html.ActionLink("商品細節", "Edit", new { id = item.i_id })
        </td>
    </tr>
</table>
    }

}


